{% include 'portfolio/navbar.html' %}
{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <title> yzjnx </title>
        
        <link rel ="stylesheet" type ="text/css" href="{% static 'portfolio/css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <script src="{% static 'portfolio/js/turnpot.js' %}"></script>
        <script src="{% static 'portfolio/js/bigredbutton.js' %}"></script>
        <script src="{% static 'portfolio/js/open-home-transition.js' %}"></script>  
        
    </head>
    <body>

        {% block content %}
        {% endblock %}

        <div id="home-opening" class="containerx">
            <div id="home" class="containerx" style="display: none;">
                <section class="hidden">
                    <a id = "home"></a>
                    <h1 class = "font-large">Electrical Engineering Student</h1>
                    <h2>Is a leaf's purpose only to fall?    </h2>
                </section>

                <section class="hidden">
                    <h1>Hardware Projects</h1>
                    <div class="logos">
                        <div class="logo hidden">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                        <div class="logo hidden">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                        <div class="logo hidden">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                        <div class="logo hidden">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    
                </section>
                <section class="hidden">
                    <h1>Software Projects</h1>
                    <div class="logos">
                        <div class="logo hidden">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                        <div class="logo hidden">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                        <div class="logo hidden">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                        <div class="logo hidden">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    
                </section>
            </div>
            <img id = "PCB" class = "fly-away" src="{% static 'portfolio/PCB.svg' %}" draggable="false">
            <img id = "MCU" src="{% static 'portfolio/MCU.svg' %}" draggable="false">
            <div id = "non-important-open" class="fly-away">
                <div id = "top-right-trace"><img src="{% static 'portfolio/BackgroundTrace.svg' %}" draggable="false"></div>
                <div id = "led-home"><img src="{% static 'portfolio/BackgroundTrace.svg' %}" draggable="false"></div>
                <div id = "button">
                    <img id = "button-off" src="{% static 'portfolio/ButtonOFF.svg' %}" draggable="false">
                    <h1 id ="no-push-txt" style="font-family: 'Roboto', sans-serif; color: white;">Do Not Push</h1>
                </div>
            </div>
        </div>
    
    </body>
</html>