{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> yzjnx </title>
        <link rel ="stylesheet" type ="text/css" href="{% static 'portfolio/css/style.css' %}">
    </head>
    <body>

        <div id="s-trace">
            <div class="horizontal-trace"></div>
            <div class="via-outer">
            <div class="via-inner"></div>
            </div>
            <div class="vertical-trace"></div>
            <div class = "diagonal-trace"></div>
        </div>   
    
    </body>
</html>