{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> yzjnx </title>
        <link rel ="stylesheet" type ="text/css" href="{% static 'portfolio/css/style.css' %}">
    </head>
    <body>

        <div id="s-trace" class="container">
            <img src="{% static 'portfolio/PCB.svg' %}" alt="none">
            <div id = "top-right-trace"><img src="{% static 'portfolio/BackgroundTrace.svg' %}" class="tr-bg-trace"></svg></div>
            <div id = "led-home"><img src="{% static 'portfolio/LEDOFF.svg' %}" class="tr-bg-trace"></div>
            <div id = "pot"><img src="{% static 'portfolio/potentiometer/Group 72(1).svg' %}"></div>
        </div>
        
    
    </body>
</html>