{% block content %}
{% load static %}
<nav id = "nav" class="navbar navbar-expand-lg navbar-dark" style="--bs-scroll-height: 100px; display: none; background-color: rgb(5, 3, 17); height: 100px;">
    <div class="container">
        <a class="navbar-brand" href="#">About Me</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1.25rem;">
                Projects
                </a>
                <ul class="dropdown-menu dark" style="background-color: grey; color: white !important;">
                <li><a class="dropdown-item" href="/software-projects">Software</a></li>
                <li><a class="dropdown-item" href="/hardware-projects">Hardware</a></li>
                <li><a class="dropdown-item" href="#">Other</a></li>
                </ul>
            </li>
        </div>
        <div>
            <a href = "/"><img id = "MCU" src="{% static 'portfolio/MCU.svg' %}" draggable="false" style="position: relative; left: -200px; scale: 23%;"></a>
        </div>
  
    </div>   
</nav>
{% endblock %}
