body {
    min-height: 100vh;
    background: linear-gradient(#094D1C, #008C4A);

}

#home-opening {

    left: 10px;

}

.horizontal-trace {

    border-bottom: 10px solid silver;
    width: 100px;
    height: 10px;
    left: 10px;
    position: absolute;
}

.vertical-trace {

    border-left: 10px solid silver;
    height: 75px;
    position: absolute;
    left: 18px;
    top: 36px;

}


.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-right-trace{

    position: absolute;
    top: 0;
    right: 0;
}

#led-home {

    position: absolute;
    bottom: 0;
    left: 0px;
    transform: rotateX(180deg);

}

#led-on {

    position: absolute;
    bottom: 0;
    left: 150px;

}

#button {

    position: absolute;
    bottom: 200px;
    right: 150px; 
    
}

#no-push-txt {

    font-family: 'Roboto', sans-serif;
    color: white;
    position: absolute;
    width: 224px !important;
    right: -64px !important;

}

h1 {

    font-family: 'Roboto', sans-serif; 
    color: white !important;

}

h2 {

    font-family: 'Roboto', sans-serif; 
    color: white !important;

}

.font-large{

    font-size: 90px;

}

.hidden { 

    opacity: 0;
    transition: all 1s;

}

.show {

    opacity: 1;

}