body {
    min-height: 100vh;
    background: rgb(36, 36, 36) !important;
    font-family: 'Roboto', sans-serif !important; 
    color: white !important;

}

h1 {

    font-family: 'Ubuntu', sans-serif !important; 

}



section{

    margin: 150px;
    
}

li {
    list-style-type: none;
}

#home-opening {

    left: 10px;

}

.containerx {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-right-trace{

    position: absolute;
    top: 0;
    right: 0;
}

#led-home {

    position: absolute;
    bottom: 0;
    left: 0px;
    transform: rotateX(180deg);

}

#led-on {

    position: absolute;
    bottom: 0;
    left: 150px;

}

#button {

    position: absolute;
    bottom: 200px;
    right: 150px; 
    
}

#no-push-txt {

    font-family: 'Roboto', sans-serif;
    color: white;
    position: absolute;
    width: 224px !important;
    right: -64px !important;

}

.font-large{

    font-size: 75px;

}

.hidden { 

    opacity: 0;
    transform: translateX(-5%);
    transition: all 1s;

}

.show {

    opacity: 1;
    transform: translateX(0);

}


.logos{

    display: flex;
    justify-content: space-between;

}

.logo:nth-child(2) {

    transition-delay: 150ms;

}

.logo:nth-child(3) {

    transition-delay: 250ms;

}

.logo:nth-child(4) {

    transition-delay: 350ms;

}

#tl-code-bg-c0{

    column-count: 1;
    position: absolute;
    left: 15;
    top: 100;
    color: rgba(6, 138, 6, 0.61);
    font-size: medium;

}

#tl-code-bg-c1{

    column-count: 1;
    position: absolute;
    left: 38;
    top: 100;
    color: rgba(6, 138, 6, 0.61);
    font-size: medium;

}

#tl-code-bg-c2{

    column-count: 1;
    position: absolute;
    left: 61;
    top: 100;
    color: rgba(6, 138, 6, 0.61);
    font-size: medium;

}

#bl-code-bg-c0{

    column-count: 1;
    position: absolute;
    right: 15;
    bottom: 100;
    color: rgba(6, 138, 6, 0.61);
    font-size: medium;

}

#bl-code-bg-c1{

    column-count: 1;
    position: absolute;
    left: 38;
    top: 100;
    color: rgba(6, 138, 6, 0.61);
    font-size: medium;

}

#bl-code-bg-c2{

    column-count: 1;
    position: absolute;
    left: 61;
    top: 100;
    color: rgba(6, 138, 6, 0.61);
    font-size: medium;

}

.card-body{

    color: white !important;    

}

.card {

    --bs-card-bg: #35354f !important;

}

.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }

  .triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #555;
	border-bottom: 25px solid transparent;
}

.h-line {
    height: 1px;
    width: 50px;
    background-color: #555;
  }

.v-line {
    height: 50px;
    width: 2px;
    background-color: #555;
  }
